<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <app-header
      [title]="titulo"
      [breadcrumbs]="[
        { title: 'Seguridad', route: ['/usuarios/grid'], condition: true },
        { title: 'Usuarios', route: ['/usuarios/grid'], condition: true },
        { title: 'Editar', route: [], condition: titulo === 'Edición Usuario' },
        { title: 'Crear', route: [], condition: titulo === 'Nuevo Usuario' },
        { title: 'Consultar', route: [], condition: titulo === 'Consulta Usuarios' },
        { title: 'Ver', route: [], condition: titulo === 'Vista Usuario' },
      ]"
      [buttons]="[
        {
          type: 'flat',
          label: 'Guardar',
          condition: titulo === 'Edición Usuario' || titulo === 'Nuevo Usuario',
          isDisabled: false,
          action: titulo === 'Edición Usuario' ? 'edit' : 'save'
        },
        {
          type: 'flat',
          label: 'Guardar y continuar',
          condition: titulo === 'Edición Usuario',
          isDisabled: false,
          action: 'editContinue'
        },
        {
          type: 'stroked',
          label: 'Cerrar',
          condition: titulo !== 'Consulta Usuarios',
          isDisabled: false,
          action: 'close'
        },
        {
          type: 'flat',
          label: 'Crear nuevo usuario',
          condition: titulo === 'Consulta Usuarios',
          isDisabled: false,
          action: 'create'
        }
      ]"
      (buttonAction)="handleAction($event)"
    >
    </app-header>
  
    <div class="content-scroll">
      <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
  </div>