<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <app-header 
      [title]="title" 
      [breadcrumbs]="[
          { title: 'Administración',  route: [], condition: true },
          { title: 'Órdenes de Compra', route: ['/orden-compra'], condition: true }
        ]" 
      [buttons]="[
          {
            type: 'flat',
            label: 'Crear Orden de Compra',
            condition: true,
            isDisabled: false,
            action: 'create'
          }
        ]" 
        (buttonAction)="handleAction($event)">
    </app-header>

    <div class="flex-auto overflow-y-auto content-scroll">
        <router-outlet (activate)="onChildActivate($event)"></router-outlet>
    </div>
</div>