<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <app-header [title]="title" [breadcrumbs]="[
        { title: 'Laboratorio', route: [], condition: true },
        { title: 'Lotes', route: [], condition: true }
      ]" [buttons]="[
        {
          type: 'flat',
          label: 'Crear nuevo lote',
          condition: true,
          action: 'create'
        }
      ]" (buttonAction)="handleAction($event)">
    </app-header>

    <div class="content-scroll" [hidden]="false">
      <router-outlet></router-outlet>
    </div>
</div>