<div class="flex flex-col w-full" id="top">
  <div class="grid border-2 bg-white border-gray-200 rounded-2xl m-8 p-8">
    <div>
      <h1 class="text-2xl font-semibold mb-2"> Máquina </h1>
    </div>

    <form class="mt-4" [formGroup]="form">
      <mat-form-field class="w-full">
        <!-- <mat-icon svgIcon="mat_solid:account_circle" class="mr-3"></mat-icon> -->
        <input matInput [formControlName]="'name'" placeholder="Nombre" required minlength="3" maxlength="100">
        <mat-error class="mb-1" *ngIf="form.get('name').hasError('required')">
          El nombre es requerido.
        </mat-error>
        <mat-error class="mb-1" *ngIf="form.get('name').hasError('maxlength')">
          Máximo 100 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <!-- <mat-icon svgIcon="mat_solid:account_circle" class="mr-3"></mat-icon> -->
        <mat-select [formControlName]="'status'" *ngIf="mode === 'Create' || mode === 'Edit'; else viewMode" required
          placeholder="Estado">
          <mat-option value="ACTIVA"> Activa </mat-option>
          <mat-option value="INACTIVA"> Inactiva </mat-option>
          <mat-option value="REPARACION"> En Reparación </mat-option>
        </mat-select>
        <mat-error class="mb-1" *ngIf="form.get('status').hasError('required')">
          El estado es requerido.
        </mat-error>
        <ng-template #viewMode>
          <input matInput [formControlName]="'status'">
        </ng-template>
      </mat-form-field>
    </form>
  </div>
</div>