<div>
  <div class="relative mt-6">
    <div *ngIf="isLoading" class="absolute inset-0 bg-white bg-opacity-75 flex items-center justify-center z-10">
      <mat-progress-spinner mode="indeterminate" [diameter]="50"></mat-progress-spinner>
    </div>

    <table mat-table [dataSource]="planos" class="border-2 rounded-2xl w-full">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>
      <ng-container matColumnDef="revision">
        <th mat-header-cell *matHeaderCellDef class="w-24 px-3 text-center"> Revisión </th>
        <td mat-cell *matCellDef="let element" class="w-24 px-3 text-center"> {{element.revision}} </td>
      </ng-container>
      <ng-container matColumnDef="clasificacion">
        <th mat-header-cell *matHeaderCellDef class="px-3"> Clasificación </th>
        <td mat-cell *matCellDef="let element" class="px-3"> {{element.clasificacion}} </td>
      </ng-container>
      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef class="w-24 text-center"> Observaciones </th>
        <td mat-cell *matCellDef="let element" class="w-24 text-center">
          <button mat-icon-button *ngIf="element.observaciones"
            (click)="openObservacionModal(element.observaciones, element.codigo)">
            <mat-icon>comment</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef class="w-32"> Fecha </th>
        <td mat-cell *matCellDef="let element" class="w-32"> {{element.fecha | date:'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="w-32">
          <div class="flex gap-1 justify-end">
            <button mat-icon-button (click)="openPlano(row)">
              <mat-icon svgIcon="heroicons_solid:eye" matTooltip="Ver"></mat-icon>
            </button>
            <button mat-icon-button (click)="downloadPlano(row)">
              <mat-icon svgIcon="heroicons_solid:download" matTooltip="Descargar"></mat-icon>
            </button>
            <button mat-icon-button *ngIf="mode !== 'view'" (click)="eliminarPlano(row)">
              <mat-icon svgIcon="heroicons_solid:trash" matTooltip="Eliminar"></mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPlanos"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPlanos;"></tr>
      <tr *matNoDataRow>
        <td class="text-center py-4" [attr.colspan]="displayedColumnsPlanos.length" *ngIf="sinDatos && !isLoading">
          No hay planos asociados a esta pieza.
        </td>
      </tr>
    </table>
  </div>
</div>