<div class="relative flex flex-col w-full h-full">
    <div class="absolute top-0 right-0">
        <button mat-icon-button (click)="onNoClick()">
            <mat-icon class="text-secondary" [svgIcon]="'heroicons_solid:x'"></mat-icon>
        </button>
    </div>
    <h1 mat-dialog-title class="text-lg font-semibold mb-4">{{title}}</h1>

    <form [formGroup]="uploadForm" class="flex flex-col">
        <label for="file-upload" class="cursor-pointer mb-4 relative">
            <div
                class="flex flex-col items-center justify-center p-4 border-2 border-dashed border-gray-400 rounded-lg bg-gray-50">
                <div class="flex flex-col items-center justify-center">
                    <mat-icon class="text-gray-500" svgIcon="heroicons_solid:upload" *ngIf="!selectedFile"
                        style="font-size: 2rem;"></mat-icon>
                    <span class="text-sm text-gray-600" *ngIf="!selectedFile">Seleccionar Plano (PDF)</span>
                    <span class="text-sm text-green-500" *ngIf="selectedFile">{{ selectedFile?.name }}</span>
                </div>
                <input id="file-upload" type="file" class="sr-only" (change)="onFileSelected($event)" accept=".pdf">
            </div>

            <button *ngIf="selectedFile" type="button" mat-icon-button class="absolute top-2 right-2"
                (click)="removeSelectedFile()">
                <mat-icon>cancel</mat-icon>
            </button>
        </label>

        <div class="flex gap-4">
            <mat-form-field appearance="outline" class="w-1/4">
                <mat-label>Código</mat-label>
                <input matInput formControlName="codigo" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/4">
                <mat-label>Revisión</mat-label>
                <input matInput type="number" formControlName="revision" required>
                <mat-error *ngIf="uploadForm.get('revision')?.hasError('pattern')">
                    Debe ser un número entero.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-2/4">
                <mat-label>Clasificación</mat-label>
                <mat-select formControlName="clasificacion" required>
                    <mat-option value="NITROPHYL">NITROPHYL</mat-option>
                    <mat-option value="CLIENTE">CLIENTE</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Observaciones</mat-label>
            <textarea matInput formControlName="observaciones" rows="4"></textarea>
        </mat-form-field>

        <div class="flex shrink-0 justify-end items-center">
            <button mat-stroked-button (click)="onNoClick()" [disabled]="uploading"
                class="mat-focus-indicator mat-stroked-button mat-button-base min-w-max w-full mr-2 max-w-30">
                <span class="mat-button-wrapper"> Cancelar </span>
            </button>

            <button mat-flat-button (click)="subir()" [disabled]="uploading || uploadForm.invalid"
                class="mat-focus-indicator mat-flat-button mat-button-base mat-accent min-w-max w-full max-w-30">
                <span class="mat-button-wrapper">
                    <mat-spinner diameter="20" *ngIf="uploading"></mat-spinner>
                    <span *ngIf="!uploading">{{ buttonText }}</span>
                </span>
            </button>
        </div>
    </form>
</div>