.content-scroll {
    display:Flex;
   flex-direction:column;
   flex-wrap:wrap;
   overflow-y: scroll;
}

/*
.content-scroll {
    flex-shrink: 1; 
    flex-grow: 1; 
    position: relative; 
    overflow-y:scroll;
}
*/