<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <app-header 
        [title]="titulo" 
        [breadcrumbs]="[
        { title: 'Productos', route: ['/productos/grid'], condition: true },
        { title: tituloNav, route: ['/productos/grid'], condition: true },
        { title: 'Crear', route: [], condition: titulo === 'Nuevo producto compuesto' },
        { title: 'Editar', route: [], condition: titulo === 'Modificar producto compuesto' },
        { title: 'Ver', route: [], condition: titulo === 'Vista producto compuesto' },
        { title: 'Crear', route: [], condition: titulo === 'Nuevo producto simple' },
        { title: 'Editar', route: [], condition: titulo === 'Modificar producto simple' },
        { title: 'Ver', route: [], condition: titulo === 'Vista producto simple' },
        ]" 
        [buttons]="[
            {
            type: 'flat',
            label: 'Crear producto compuesto',
            condition: titulo === 'Consulta Productos',
            isDisabled: false,
            action: 'createComposedProduct'
            },
            {
            type: 'flat',
            label: 'Crear producto simple',
            condition: titulo === 'Consulta Productos',
            isDisabled: false,
            action: 'createSimpleProduct'
            },
            {
            type: 'stroked',
            label: 'Volver',
            condition: titulo !== 'Consulta Productos',
            isDisabled: false,
            action: 'close'
            }
        ]"
        (buttonAction)="handleAction($event)">
    </app-header>

    <div class="content-scroll">
        <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
</div>