.mat-standard-chip .mat-chip-remove,
.mat-standard-chip .mat-chip-trailing-icon {
    width: auto !important;
    height: auto !important;
    margin-top: 3px !important;
}

.modal-container {
    height: 650px;
}

.observations-table-container {
    max-height: 250px;
    overflow-y: auto;
    border-radius: 12px;
}