<div class="grid">
    <fuse-alert [type]="'success'" *ngIf="showSuccess">
        <span fuseAlertTitle>Cambios realizados</span>
    </fuse-alert>
    <fuse-alert [type]="'error'" *ngIf="showError">
        <span fuseAlertTitle>No se pudieron realizar los cambios</span>
    </fuse-alert>
    <mat-form-field class="fuse-mat-textarea">
        <mat-label>Código</mat-label>
        <input matInput disabled [(ngModel)]="data.row.code">
    </mat-form-field>
    <mat-form-field class="fuse-mat-textarea">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.row.name">
    </mat-form-field>
    <div class="mt-2 flex justify-around">
        <button mat-raised-button color="warn" (click)="delete()">Eliminar</button>
        <button mat-raised-button color="primary" (click)="edit()">Editar</button>
    </div>
</div>