th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px !important;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 10px !important;
}

::ng-deep .tooltip-multiline {
    white-space: pre-line !important;
    font-size: 13px;
}
