<div class="flex flex-col w-full" id="top">
    <mat-tab-group class="mt-2 col-span-12 grid-rows-1">
        <mat-tab label="Perfil">
            <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8 w-1/2">
                <div>
                    <h1 class="text-2xl font-semibold mb-2">Perfil</h1>
                </div>
                <form
                    class="flex flex-col gap-2"
                    [formGroup]="createPerfilForm">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label> Nombre </mat-label>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <input
                            id="name"
                            matInput
                            [formControlName]="'name'"
                            placeholder="Nombre">
                        <mat-error class="mb-1" *ngIf="createPerfilForm.get('name').hasError('required')">
                            El nombre es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label> Rol </mat-label>
                        <mat-select id="role" [formControlName]="'role'" placeholder="Rol">
                            <mat-option *ngFor="let rol of roles" [value]="rol.id">
                                {{ rol.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error class="mb-1" *ngIf="createPerfilForm.get('role').hasError('required')">
                            El rol es requerido
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Permisos Asociados">
            <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8 max-h-96">
                <div>
                    <h1 class="text-2xl font-semibold mb-2">Permisos Asociados</h1>
                </div>
                <div class="grid grid-cols-5 gap-4">
                    <div class="col-span-2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Permisos Disponibles</mat-label>
                            <input matInput (keyup)="onKeyDisponibles($event.target.value)" [(ngModel)]="inputDisponibles">
                        </mat-form-field>
                        <div class="lista-perfiles w-full" *ngIf="permisosDisponibles.length > 0" [class.mat-elevation-z8]="true">
                            <table mat-table [dataSource]="searchPermisos" class="w-full">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                      <mat-checkbox (change)="$event ? masterToggle(1) : null"
                                                    [checked]="selection.hasValue() && isAllSelected(1)"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected(1)"
                                                    [disabled]="mode === 'View'">
                                      </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                      <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? selection.toggle(row) : null"
                                                    [checked]="selection.isSelected(row)"
                                                    [disabled]="mode === 'View'">
                                      </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef> Código </th>
                                    <td mat-cell *matCellDef="let element">{{ element.code }}</td>
                                </ng-container>
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-span-1 text-center flex flex-col space-y-4">
                        <button mat-raised-button (click)="add()" [disabled]="selection.selected.length === 0" class="justify-self-center">Agregar</button>
                        <button mat-raised-button (click)="remove()" [disabled]="selectionIncluidos.selected.length === 0" class="justify-self-center">Quitar</button>
                    </div>
                    <div class="col-span-2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Permisos Incluidos</mat-label>
                            <input matInput (keyup)="onKeyIncluidos($event.target.value)" [(ngModel)]="inputIncluidos">
                        </mat-form-field>
                        <div class="lista-perfiles w-full" *ngIf="permisosIncluidos.length > 0" [class.mat-elevation-z8]="true">
                            <table mat-table [dataSource]="searchPermisosIncluidos" class="w-full">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                      <mat-checkbox (change)="$event ? masterToggle(2) : null"
                                                    [checked]="selectionIncluidos.hasValue() && isAllSelected(2)"
                                                    [indeterminate]="selectionIncluidos.hasValue() && !isAllSelected(2)"
                                                    [disabled]="mode === 'View'">
                                      </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                      <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? selectionIncluidos.toggle(row) : null"
                                                    [checked]="selectionIncluidos.isSelected(row)"
                                                    [disabled]="mode === 'View'">
                                      </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef> Código </th>
                                    <td mat-cell *matCellDef="let element">{{ element.code }}</td>
                                </ng-container>
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>