.lista-perfiles {
    max-height: 13rem;
    overflow-y: scroll; 
    overflow-x: hidden;
}

.buttons-grid {
    flex-direction: row;
}

.buttons-grid button {
    flex-shrink: 0;
    margin-left: 5px;
}