<div>
    <form [formGroup]="moldeoForm" class="mat-form-without-wrapper space-y-4">
        <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-4">
            <h2 class="text-xl font-semibold mb-2">Prensas</h2>
            <mat-form-field appearance="outline" class="w-full md:w-2/3">
                <mat-label>Buscar y añadir prensas</mat-label>
                <mat-chip-list #chipListPrensa aria-label="Selección de prensas">
                    <mat-chip *ngFor="let prensa of prensasAgregadas" (removed)="quitarPrensa(prensa)"
                        [removable]="mode !== 'view'">
                        {{ prensa.nombre }}
                        <button matChipRemove *ngIf="mode !== 'view'">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="Buscar prensa..." #prensaInput [formControl]="prensaCtrl"
                        [matAutocomplete]="autoPrensa" [matChipInputFor]="chipListPrensa" [disabled]="mode === 'view'">
                </mat-chip-list>
                <mat-autocomplete #autoPrensa="matAutocomplete" (optionSelected)="agregarPrensa($event)"
                    [displayWith]="displayFnPrensa">
                    <mat-option *ngFor="let prensa of filteredPrensas$ | async" [value]="prensa">
                        {{ prensa.nombre }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="flex gap-4 w-full">
            <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-4">
                <div class="flex items-center mb-2 justify-between">
                    <h2 class="text-xl font-semibold mr-2">Precalentamiento</h2>
                    <mat-slide-toggle formControlName="precalentamientoHabilitado" [disabled]="mode === 'view'">
                    </mat-slide-toggle>
                </div>

                <div *ngIf="moldeoForm.get('precalentamientoHabilitado').value"
                    class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Tiempo</mat-label>
                        <input matInput type="number" formControlName="precalentamientoTiempo">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Unidad</mat-label>
                        <mat-select formControlName="precalentamientoUnidad">
                            <mat-option *ngFor="let unidad of precalentamientoUnidades" [value]="unidad">
                                {{ unidad }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-4 w-full">
                <h2 class="text-xl font-semibold mb-2">Vulcanización</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Tiempo</mat-label>
                        <input matInput type="number" formControlName="vulcanizacionTiempo" required>
                        <mat-error
                            *ngIf="moldeoForm.get('vulcanizacionTiempo').hasError('required')">Requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Temperatura Mínima</mat-label>
                        <input matInput type="number" formControlName="vulcanizacionTemperaturaMinima" required>
                        <mat-error
                            *ngIf="moldeoForm.get('vulcanizacionTemperaturaMinima').hasError('required')">Requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Temperatura Máxima</mat-label>
                        <input matInput type="number" formControlName="vulcanizacionTemperaturaMaxima" required>
                        <mat-error
                            *ngIf="moldeoForm.get('vulcanizacionTemperaturaMaxima').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-4">
            <h2 class="text-xl font-semibold mb-2">Bombeo</h2>

            <div class="flex gap-4">
                <mat-form-field appearance="outline" class="w-full md:w-1/6">
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="number" [formControl]="cantidadCtrl">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full md:w-1/6">
                    <mat-label>Tipo</mat-label>
                    <mat-select [formControl]="tipoCtrl">
                        <mat-option *ngFor="let tipo of tiposBombeo" [value]="tipo">
                            {{ tipo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full md:w-1/6">
                    <mat-label>Presión</mat-label>
                    <input matInput type="number" [formControl]="presionCtrl">
                </mat-form-field>

                <div class="flex justify-start" *ngIf="mode !== 'view'">
                    <button class="mat-focus-indicator mat-flat-button mat-button-base mat-accent mt-2" mat-flat-button
                        (click)="agregarBombeo()" [disabled]="!bombeoFormCompleto">
                        <span class="mat-button-wrapper"> Añadir Bombeo </span>
                    </button>
                </div>
            </div>

            <div class="flex flex-wrap gap-2">
                <mat-chip-list aria-label="Bombeos">
                    <mat-chip *ngFor="let bombeo of bombeosAgregados; let i = index" (removed)="quitarBombeo(i)"
                        [removable]="mode !== 'view'" class="bg-gray-200">
                        {{ bombeo.cantidad }} {{ bombeo.tipo }}
                        <ng-container *ngIf="bombeo.presion">
                            a {{ bombeo.presion }} kg/cm2
                        </ng-container>
                        <button matChipRemove *ngIf="mode !== 'view'">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </form>
</div>