<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation class="dark bg-gray-900 print:hidden" [appearance]="navigationAppearance"
    [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- Logo -->
        <div class="flex items-center justify-center h-20">
            <img class="w-8" src="assets/images/logo/logo.svg" alt="Logo image">
        </div>
    </ng-container>
    <ng-container fuseVerticalNavigationFooter>
        <div class="flex items-center justify-center mb-4">
            <button class="hidden md:inline-flex" mat-icon-button (click)="toggleNavigationAppearance()">
                <mat-icon *ngIf="navigationAppearance === 'dense'">keyboard_double_arrow_right</mat-icon>
                <mat-icon *ngIf="navigationAppearance === 'default'">keyboard_double_arrow_left</mat-icon>
            </button>
        </div>
        <!-- User -->
        <div class="flex items-center w-full px-6 py-8 border-t">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
            </button>

            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="changePassword()">
                    <mat-icon>password</mat-icon>
                    <span>Cambiar contraseña</span>
                </button>
                <button mat-menu-item (click)="signOut()">
                    <mat-icon>logout</mat-icon>
                    <span>Cerrar sesión</span>
                </button>
            </mat-menu>

            <div class="flex flex-col w-full ml-4 overflow-hidden">
                <div
                    class="w-full whitespace-nowrap text-ellipsis overflow-hidden leading-normal text-current opacity-80">
                    {{ user?.name }}
                </div>
                <div
                    class="w-full mt-0.5 whitespace-nowrap text-sm text-ellipsis overflow-hidden leading-normal text-current opacity-50">
                    {{ user?.email }}
                </div>
            </div>
        </div>
    </ng-container>
</fuse-vertical-navigation>


<router-outlet *ngIf="true"></router-outlet>