<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <app-header
      [title]="titulo"
      [breadcrumbs]="[
        { title: 'ABM', route: ['/perfiles/grid'], condition: true },
        { title: 'Perfiles', route: ['/perfiles/grid'], condition: true },
        { title: 'Editar', route: [], condition: titulo === 'Edición Perfil' },
        { title: 'Crear', route: [], condition: titulo === 'Nuevo Perfil' },
        { title: 'Ver', route: [], condition: titulo === 'Vista Perfil' },
        { title: 'Consultar', route: [], condition: titulo === 'Consulta Perfiles' },
      ]"
      [buttons]="[
        {
          type: 'flat',
          label: 'Guardar',
          condition: titulo === 'Edición Perfil' || titulo === 'Nuevo Perfil',
          isDisabled: false,
          action: titulo === 'Edición Perfil' ? 'edit' : 'save'
        },
        {
          type: 'flat',
          label: 'Guardar y continuar',
          condition: titulo === 'Edición Perfil',
          isDisabled: false,
          action: 'editContinue'
        },
        {
          type: 'stroked',
          label: 'Cerrar',
          condition: titulo !== 'Consulta Perfiles',
          isDisabled: false,
          action: 'close'
        },
        {
          type: 'flat',
          label: 'Crear nuevo perfil',
          condition: titulo === 'Consulta Perfiles',
          isDisabled: false,
          action: 'create'
        }
      ]"
      (buttonAction)="handleAction($event)"
    >
    </app-header>
  
    <div class="content-scroll">
      <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
  </div>