  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <!-- CONTENT GOES HERE -->
    <div>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="h-12">
            <mat-panel-title>
              <span class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Búsqueda
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="form" class="mt-2">
            <div class="row flex gap-3 justify-around">

              <mat-form-field class="w-full">
                <input type="text" placeholder="Ingrese el lote (LNNNN) " matInput formControlName="nroLote"
                  minlength="5" maxlength="5">
                <mat-error>
                  {{
                  form.controls['nroLote'].hasError('minlength')
                  ? 'Mínimo 5 caracteres.'
                  : form.controls['nroLote'].hasError('maxlength')
                  ? 'Máximo 5 caracteres.'
                  : form.controls['nroLote'].hasError('pattern')
                  ? 'Formato inválido.'
                  : ''
                  }}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row flex justify-end">
              <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base mat-accent"
                (click)="search()">
                <span class="mat-button-wrapper"> Buscar </span>
                <span matripple="" class="mat-ripple mat-button-ripple"></span>
                <span class="mat-button-focus-overlay"></span>
              </button>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
<mat-drawer-container hasBackdrop="true" class="w-full">
  <mat-drawer-content>
    <!-- CONTENT GOES HERE -->
    <div class="bg-gray-100">
            <div class="mt-5">
              <table mat-table [dataSource]="lots$" class="border-2 rounded-2xl w-full">
          <ng-container matColumnDef="estado">
            <th *matHeaderCellDef style="font-size:24px !important;"> </th>
            <td style="  padding-left: 16px; padding-right: 16px; padding-top: 5px;" mat-cell *matCellDef="let element">
 					<div *ngIf="element.estado === 'APROBADO' || element.estado === 'APROBADO_OBSERVADO'">
                      <img cImg src="assets/images/ok2.png" style="width:40px !important"/>
                    </div>
                    <div *ngIf="element.estado === 'RECHAZADO'">
                      <img cImg src="assets/images/error2.png" style="width:40px !important"/>
                    </div>            </td>
          </ng-container>
          <ng-container matColumnDef="nroLote">
            <th *matHeaderCellDef style="font-size:24px !important; text-align: left;"> Lote </th>
            <td mat-cell *matCellDef="let element" style="font-size:24px;"> {{ element.nroLote }} </td>
          </ng-container>
		  <ng-container matColumnDef="fechaEstado">
            <th *matHeaderCellDef style="font-size:24px !important; text-align: left;"> Fecha </th>
            <td mat-cell *matCellDef="let element" style="font-size:24px;"> {{ element.fechaEstado }} </td>          </ng-container>
          <ng-container matColumnDef="formula">
<th *matHeaderCellDef style="font-size:24px !important; text-align: left;"> Fórmula </th>
            <td mat-cell *matCellDef="let element" style="font-size:24px;"> {{ element.formulaSimple }} </td>          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>