<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <app-header
      [title]="titulo"
      [subtitle]="subTitulo || ''"
      [breadcrumbs]="[
        { title: 'ABM', route: ['/clientes/grid'], condition: true },
        { title: 'Clientes', route: ['/clientes/grid'], condition: true },
        { title: 'Crear', route: [], condition: titulo === 'Nuevo Cliente' },
        { title: 'Consultar', route: [], condition: titulo === 'Consulta Clientes' },
        { title: 'Consultar', route: [], condition: titulo === 'Consulta Contactos' },
        { title: 'Editar', route: [], condition: titulo === 'Edición Contacto' }
        ]"
      [buttons]="[
        {
          type: 'flat',
          label: 'Guardar Cliente',
          condition: ('LISTADO_CLIENTE_CREATE' | hasPermission) && (titulo === 'Nuevo Cliente'),
          isDisabled: false,
          action: 'save'
        },
        {
          type: 'stroked',
          label: 'Cerrar',
          condition: titulo !== 'Consulta Clientes' && titulo !== 'Consulta Contactos',
          isDisabled: false,
          action: 'close'
        },
        {
          type: 'stroked',
          label: 'Volver a ABM Clientes',
          condition: titulo === 'Consulta Contactos',
          isDisabled: false,
          action: 'goToClientes'
        },
        {
          type: 'flat',
          label: 'Agregar nuevo cliente',
          condition: ('LISTADO_CLIENTE_CREATE' | hasPermission) && (titulo === 'Consulta Clientes'),
          isDisabled: false,
          action: 'createCliente'
        },
        {
          type: 'flat',
          label: 'Agregar nuevo contacto',
          condition: ('LISTADO_CLIENTE_CREATE' | hasPermission) && (titulo === 'Consulta Contactos'),
          isDisabled: false,
          action: 'createContacto'
        },
        {
          type: 'flat',
          label: 'Guardar contacto',
          condition: ('LISTADO_CLIENTE_CREATE' | hasPermission) && (titulo === 'Nuevo Contacto' || titulo === 'Edición Contacto'),
          isDisabled: false,
          action: 'saveContacto'
        }
      ]"
      (buttonAction)="handleAction($event)">
    </app-header>
    <div class="content-scroll">
      <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
  </div>
  