<div class="flex flex-col flex-auto items-center justify-center min-w-0">
    <div class="w-full max-w-sm p-8 sm:p-10 rounded-3xl shadow-lg bg-card">
        <div class="w-full mx-auto">
            <div class="w-full flex justify-center mb-8">
                <img src="assets/images/logo/logo-text.svg" class="h-16">
            </div>

            <div class="text-3xl font-extrabold tracking-tight leading-tight text-center">
                Cerrando Sesión
            </div>

            <div class="mt-4 text-md text-center text-secondary">
                <span>{{ message }}</span>
                <span *ngIf="countdownDisplay">{{ countdownDisplay }}</span>
            </div>

            <div class="flex justify-center mt-8">
                <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </div>
        </div>
    </div>
</div>