<div class="flex flex-col w-full max-w-1/2" id="top" *ngIf="mode === 'Edit' || mode === 'Create' || mode === 'View'">
  <div class="grid border-2 bg-white border-gray-200 rounded-2xl m-8 p-8">

    <div>
      <h1 class="text-2xl font-semibold mb-2"> Configuración </h1>
    </div>

    <form [formGroup]="form" class="mt-2">
      <div class="row flex flex-col gap-1 justify-around">
        <mat-form-field class="w-full">
          <input type="text" required #campoInput placeholder="Ingrese o seleccione una fórmula" matInput
            formControlName="formula" [matAutocomplete]="formulaAuto">
          <mat-error class="mb-1" *ngIf="form.get('formula').hasError('required')">
            La fórmula es requerida.
          </mat-error>

          <button mat-icon-button matSuffix
            *ngIf="(mode === 'Edit' || mode === 'Create') && form.controls['formula'].value !== null"
            (click)="limpiarCampo('formula')">
            <mat-icon> close </mat-icon>
          </button>

          <mat-autocomplete #formulaAuto="matAutocomplete" [displayWith]="displayFormulaFn" autoActiveFirstOption>
            <mat-option *ngFor="let formula of formulas$ | async" [value]="formula">
              {{ formula.nombre }} V{{formula.version}} ({{ formula.norma }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="w-full">
          <input type="text" required #campoInput formControlName="machine"
            [placeholder]="machinesFail ? 'No se han podido cargar las maquinas.' :  'Seleccione una maquina'" matInput
            [matAutocomplete]="machineAuto">
          <mat-error class="mb-1" *ngIf="form.get('machine').hasError('required')">
            La máquina es requerida.
          </mat-error>

          <button mat-icon-button matSuffix
            *ngIf="(mode === 'Edit' || mode === 'Create') && form.controls['machine'].value !== null"
            (click)="limpiarCampo('machine')">
            <mat-icon> close </mat-icon>
          </button>

          <mat-autocomplete #machineAuto="matAutocomplete" [displayWith]="displayMachineFn" autoActiveFirstOption
            (optionSelected)="onMachineSelectionChange($event.option.value)">
            <mat-option *ngIf="!form.controls['machine'].value" [value]="0">Todos</mat-option>
            <mat-option *ngFor="let machine of filteredMachines$ | async" [value]="machine">
              {{ machine.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="w-full">
          <input type="text" required #campoInput formControlName="cliente"
            [placeholder]="clientesFail ? 'No se han podido cargar los clientes.' :  'Seleccione un cliente'" matInput
            [matAutocomplete]="clienteAuto">
          <mat-error class="mb-1" *ngIf="form.get('machine').hasError('required')">
            El cliente es requerido.
          </mat-error>

          <button mat-icon-button matSuffix
            *ngIf="(mode === 'Edit' || mode === 'Create') && form.controls['cliente'].value !== null"
            (click)="limpiarCampo('cliente')">
            <mat-icon> close </mat-icon>
          </button>

          <mat-autocomplete #clienteAuto="matAutocomplete" [displayWith]="displayClienteFn" autoActiveFirstOption>
            <mat-option *ngIf="!form.controls['cliente'].value" [value]="0">Todos</mat-option>
            <mat-option *ngFor="let cliente of filteredClientes$ | async" [value]="cliente">
              {{ cliente.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="row flex-wrap flex gap-5">
        <section>
          <mat-checkbox formControlName="mostrarParametros">
            Mostrar parámetros
          </mat-checkbox>
        </section>
        <section>
          <mat-checkbox formControlName="mostrarObservacionesParametro">
            Mostrar observaciones
          </mat-checkbox>
        </section>
        <section>
          <mat-checkbox formControlName="mostrarResultados">
            Mostrar resultados
          </mat-checkbox>
        </section>
        <section>
          <mat-checkbox formControlName="mostrarCondiciones">
            Mostrar condiciones
          </mat-checkbox>
        </section>
      </div>
    </form>
  </div>
</div>

<div class="flex flex-col w-full" id="top" *ngIf="tests?.length">
  <div class="grid border-2 bg-white border-gray-200 rounded-2xl m-8 p-8">
    <div>
      <h1 class="text-2xl mb-2">
        <span class="font-semibold">Pruebas de la máquina:</span> {{ selectedMachineName }}
      </h1>
    </div>

    <div *ngFor="let test of tests" class="flex flex-col gap-2 text-lg">
      <mat-checkbox [(ngModel)]="test.selected" [disabled]="test.disabled">{{ test.nombre }}</mat-checkbox>
    </div>

    <div class="flex gap-2 mt-4"   *ngIf="(mode === 'Edit' || mode === 'Create')">
      <button mat-stroked-button="" class="mat-focus-indicator mat-stroked-button mat-button-base"
        (click)="selectAllTests()">
        <span class="mat-button-wrapper"> Seleccionar todos </span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        
      </button>

      <button *ngIf="hasSelectedTests" mat-flat-button="" class="mat-focus-indicator mat-stroked-button mat-button-base"
        (click)="deselectAllTests()">
        <span class="mat-button-wrapper text-red-600"> Deseleccionar todos </span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        
      </button>
    </div>
  </div>
</div>