<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <app-header
    [title]="title"
    [subtitle]="title === 'Pruebas' ? 'Maquina: ' + titleMachine : ''"
    [breadcrumbs]="[
      { title: 'ABM', route: ['/maquinas/grid'], condition: true },
      { title: 'Máquinas', route: ['/maquinas/grid'], condition: true },
      { title: 'Crear', route: [], condition: title === 'Crear Máquina' },
      { title: 'Ver', route: [], condition: title === 'Consultar Máquina' },
      { title: 'Consultar', route: [], condition: title === 'Consultar Máquinas' },
    ]"
    [buttons]="[
      {
        type: 'flat',
        label: 'Guardar Máquina',
        condition: title === 'Crear Máquina' || title === 'Editar Máquina',
        isDisabled: false,
        action: 'save'
      },
      {
        type: 'stroked',
        label: 'Cerrar',
        condition: title !== 'Consultar Máquinas',
        isDisabled: false,
        action: 'close'
      },
      {
        type: 'flat',
        label: 'Crear nueva máquina',
        condition: ('MAQUINAS_CREAR' | hasPermission) && (title === 'Consultar Máquinas'),
        isDisabled: false,
        action: 'create'
      }
    ]"
    (buttonAction)="handleAction($event)"
  >
  </app-header>

  <div class="content-scroll">
    <router-outlet (activate)="componentAdded($event)"></router-outlet>
  </div>
</div>