<div>
  <div class="relative">
    <div *ngIf="isLoading" class="absolute inset-0 bg-white bg-opacity-75 flex items-center justify-center z-10">
      <mat-progress-spinner mode="indeterminate" [diameter]="50"></mat-progress-spinner>
    </div>

    <table mat-table [dataSource]="esquemas" class="w-full border rounded shadow">
      <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef class="w-[250px] pr-4"> Imagen </th>
        <td mat-cell *matCellDef="let element" class="text-center w-[250px] pr-4">
          <img *ngIf="element.safeImagenUrl" [src]="element.safeImagenUrl" alt="Imagen del esquema"
            class="py-4 cursor-pointer" style="max-width: 150px;" (click)="openImageModal(element)" />
          <span *ngIf="!element.safeImagenUrl">-</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="tituloPasos">
        <th mat-header-cell *matHeaderCellDef> Título / Pasos </th>
        <td mat-cell *matCellDef="let element" class="py-4" style="vertical-align: top;">
          <div class="font-semibold">{{ element.titulo }}</div>
          <ul *ngIf="element.pasos && element.pasos.length > 0" class="list-decimal list-inside pl-5 mt-1">
            <li *ngFor="let paso of element.pasos">{{ paso.descripcion }}</li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" style="vertical-align: top;">
          <ng-container *ngIf="mode !== 'view'">
            <div class="flex justify-end cursor-pointer gap-1 py-4">
              <mat-icon (click)="openEsquemaModal(row)" matTooltip="Editar">edit</mat-icon>
              <mat-icon (click)="eliminarEsquema(row)" svgIcon="heroicons_solid:trash" matTooltip="Eliminar"></mat-icon>
            </div>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr *matNoDataRow>
        <td class="text-center py-4" [attr.colspan]="displayedColumns.length" *ngIf="sinDatos && !isLoading">No hay
          esquemas asociados a esta pieza.</td>
      </tr>
    </table>
  </div>
</div>