<div class="flex flex-col flex-row items-center justify-center flex-auto min-w-0">
    <div class="md:flex md:items-center w-auto p-10 rounded-3xl shadow bg-card">
        <div class="w-full max-w-80 w-80 mx-0">

            <div class="text-4xl font-extrabold tracking-tight leading-tight">Cambiar Contraseña</div>
            <div class="mt-0.5 font-medium">Actualiza tu contraseña de acceso</div>

            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="true" [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <form *ngIf="!updateSuccessful" class="mt-4" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Contraseña Actual</mat-label>
                    <input matInput formControlName="oldPassword" type="password" required>
                    <mat-error>La contraseña actual es requerida</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input matInput formControlName="newPassword" type="password" required>
                    <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                        La nueva contraseña es requerida
                    </mat-error>
                     <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">
                        Debe tener al menos 8 caracteres
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Confirmar Nueva Contraseña</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" required>
                     <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                        La confirmación es requerida
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch') && !changePasswordForm.get('confirmPassword').hasError('required')">
                        Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>

                <button class="fuse-mat-button-large w-full" mat-flat-button [color]="'primary'" [disabled]="changePasswordForm.disabled || changePasswordForm.invalid">
                    <span *ngIf="!changePasswordForm.disabled">Actualizar Contraseña</span>
                    <mat-progress-spinner *ngIf="changePasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>

        </div>
    </div>
</div>