<div class="grid">
    <fuse-alert [type]="'success'" *ngIf="showSuccess">
        <span fuseAlertTitle>Cambios realizados</span>
    </fuse-alert>
    <fuse-alert [type]="'error'" *ngIf="showError">
        <span fuseAlertTitle>No se pudieron realizar los cambios</span>
    </fuse-alert>
    <mat-form-field class="fuse-mat-textarea">
        <mat-label>Código</mat-label>
        <input matInput [(ngModel)]="data.row.code">
    </mat-form-field>
    <mat-form-field class="fuse-mat-textarea">
        <mat-label>Descripción</mat-label>
        <input matInput [(ngModel)]="data.row.description">
    </mat-form-field>
    <section class="fuse-mat-textarea">
        <mat-checkbox [(ngModel)]="data.row.enabled">
            Habilitado
        </mat-checkbox>
    </section>
    <div class="mt-5 flex justify-around">
        <button mat-raised-button color="warn" (click)="delete()">Eliminar</button>
        <button mat-raised-button color="primary" (click)="edit()">Editar</button>
    </div>
</div>