<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <app-header
      [title]="titulo"
      [breadcrumbs]="[
        { title: 'ABM', route: ['/roles/grid'], condition: true },
        { title: 'Roles', route: ['/roles/grid'], condition: true },
        { title: 'Editar', route: [], condition: titulo === 'Edición Rol' },
        { title: 'Crear', route: [], condition: titulo === 'Nuevo Rol' },
        { title: 'Consultar', route: [], condition: titulo === 'Consulta Roles' },
        { title: 'Ver', route: [], condition: titulo === 'Vista Rol' }
      ]"
      [buttons]="[
        {
          type: 'flat',
          label: 'Guardar',
          condition: titulo === 'Edición Rol' || titulo === 'Nuevo Rol',
          isDisabled: false,
          action: titulo === 'Edición Rol' ? 'edit' : 'save'
        },
        {
          type: 'flat',
          label: 'Guardar y continuar',
          condition: titulo === 'Edición Rol',
          isDisabled: false,
          action: 'editContinue'
        },
        {
          type: 'stroked',
          label: 'Cerrar',
          condition: titulo !== 'Consulta Roles',
          isDisabled: false,
          action: 'close'
        },
        {
          type: 'flat',
          label: 'Crear nuevo rol',
          condition: titulo === 'Consulta Roles',
          isDisabled: false,
          action: 'create'
        }
      ]"
      (buttonAction)="handleAction($event)"
    >
    </app-header>
  
    <div class="content-scroll">
      <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
  </div>