<div>
  <div class="w-full flex justify-between">
    <div class="flex mt-3">
      <div class="warning-icon">
        <mat-icon svgIcon="heroicons_outline:exclamation"></mat-icon>
      </div>
      <h1 class="font-semibold mt-2 ml-2">
        Advertencia
      </h1>
    </div>
    <button mat-flat-button (click)="cancel()">
      <mat-icon svgIcon="heroicons_outline:x"></mat-icon>
    </button>
  </div>
  <p class="mt-4">
    Las siguientes pruebas no tienen valores mínimos ni máximos. ¿Está seguro de que desea guardarlas sin valores?
  </p>

  <table class="w-full mt-5">
    <thead>
      <tr>
        <th class="font-extrabold p-2 text-left">Prueba</th>
        <th class="font-extrabold p-2 text-left">Campo faltante</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let param of data.params">
        <td class="border px-4 py-2">{{ param.nombre }}</td>
        <td class="border px-4 py-2">{{ param.campo }}</td>
      </tr>
    </tbody>
  </table>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="continue()">Guardar</button>
    <button mat-stroked-button (click)="cancel()">Volver</button>
  </mat-dialog-actions>
</div>