/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.green-snackbar {
    background: #16A34A !important;
    color: white !important;
}

.green-snackbar button {
    background-color: 16A34A !important;
    color: white !important;
    border: none;
}

.red-snackbar {
    background: #DC2626 !important;
    color: white !important;
}

.red-snackbar button {
    background-color: #DC2626 !important;
    color: white !important;
    border: none;
}

.yellow-snackbar {
    background: orange !important;
    color: white !important;
}

.yellow-snackbar button {
    background-color: orange !important;
    color: white !important;
    border: none;
}

.blue-snackbar {
    background: #0051ff !important;
    color: white !important;
}

.blue-snackbar button {
    background-color: #0051ff !important;
    color: white !important;
    border: none;
}

.mat-calendar-table-header th {
    text-align: center;
    padding: 8px 0 8px 0 !important;
}

.mat-calendar-table-header-divider {
    display: none;
}

.blue-stroke-spinner svg circle {
    stroke: #007bff !important;
}

.mat-mdc-form-field-bottom-align::before {
    display: none !important;
}

.mat-form-field-subscript-wrapper {
    position: relative !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.mat-form-field-subscript-wrapper {
    margin-top: 0px !important
}

.mat-form-field-subscript-wrapper mat-error {
    line-height: 20px !important;
}