<div class="flex flex-col w-full" id="top">
    <mat-tab-group class="mt-2 col-span-12 grid-rows-1">
        <mat-tab label="Producto compuesto">
            <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8">
                <div>
                    <h1 class="text-2xl font-semibold mb-2">Producto</h1>
                </div>
                <form class="mt-8" [formGroup]="productoCompuestoForm">
                    <mat-form-field class="w-full">
                        <mat-icon svgIcon="mat_solid:account_circle" class="mr-3"></mat-icon>
                        <input id="codigoPieza" matInput [formControlName]="'codigoPieza'" placeholder="Código Producto">
                        <mat-error class="mb-1" *ngIf="productoCompuestoForm.get('codigoPieza').hasError('required')">
                            El código es requerido
                        </mat-error>
                        <mat-error class="mb-1" *ngIf="productoCompuestoForm.get('codigoPieza').hasError('maxlength')">
                            El campo Código permite hasta 30 caracteres máximo.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-icon svgIcon="mat_solid:account_circle" class="mr-3"></mat-icon>
                        <input id="codigoInterno" matInput [formControlName]="'codigoInterno'" placeholder="Código Interno">
                        <mat-error class="mb-1" *ngIf="productoCompuestoForm.get('codigoInterno').hasError('required')">
                            El código es requerido
                        </mat-error>
                        <mat-error class="mb-1" *ngIf="productoCompuestoForm.get('codigoInterno').hasError('maxlength')">
                            El campo Código permite hasta 30 caracteres máximo.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-icon svgIcon="mat_solid:account_circle" class="mr-3"></mat-icon>
                        <input id="nombre" matInput [formControlName]="'nombre'" placeholder="Nombre">
                        <mat-error class="mb-1" *ngIf="productoCompuestoForm.get('nombre').hasError('required')">
                            El nombre es requerido
                        </mat-error>
                    </mat-form-field>
                    <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base mat-accent" [disabled]="disableButton" (click)="save()" *ngIf="mode != 'View'">{{buttonAction}}</button>
                </form>
                <form class="mt-8" [formGroup]="piezaCompuestaExtendidaForm">
                    <div class="flex space-x-4">
                        <mat-form-field appearance="fill" class="w-1/5">
                            <mat-label>Tipo de pieza</mat-label>
                            <mat-select (selectionChange)="typeSelectChange($event)" [formControlName]="'listaTipos'">
                              <mat-option *ngFor="let tipo of tiposPiezas" [value]="tipo">
                                {{tipo}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-1/5">
                            <mat-label>Código de pieza</mat-label>
                            <input type="text"
                                   placeholder="Código de pieza"
                                   aria-label="Number"
                                   matInput
                                   [formControlName]="'listaPiezas'"
                                   [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of listaPiezasFiltradas | async" [value]="option.codigoPieza">
                                {{option.codigoPieza}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div class="w-1/7">
                            <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base mat-accent mt-7 w-full" [disabled]="mode == 'View' || id == null" (click)="addPart()">
                                <mat-icon svgIcon="heroicons_solid:plus"></mat-icon> Agregar
                            </button>
                        </div>
                        <div class="w-1/5"></div>
                        <div class="w-1/7">
                            <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base mat-accent mt-7 w-full" [disabled]="mode == 'View' || id == null" (click)="createSimplePart()">
                                Crear Simple
                            </button>
                        </div>
                        <div class="w-1/7">
                            <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base mat-accent mt-7 w-full" [disabled]="mode == 'View' || id == null" (click)="createComposedPart()">
                                Crear Compuesta
                            </button>
                        </div>
                    </div>
                    <div>
                        <table mat-table [dataSource]="parts" style="width: 100%;" class="border-2 rounded-2xl" *ngIf="parts.length > 0">
                            <ng-container matColumnDef="code">
                                <th mat-header-cell *matHeaderCellDef> Código </th>
                                <td mat-cell *matCellDef="let element"> {{element.codigoPieza}} </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row; let i = index" class="text-right">
                                    <button (click)="viewPart(row)">
                                        <mat-icon svgIcon="heroicons_solid:eye" matTooltip="Ver"></mat-icon>
                                    </button>
                                    <button (click)="editPart(row)" *ngIf="mode != 'View'">
                                        <mat-icon svgIcon="heroicons_solid:pencil-alt" matTooltip="Editar"></mat-icon>
                                    </button>
                                    <button (click)="deletePart(i, row)" *ngIf="mode != 'View'">
                                        <mat-icon svgIcon="heroicons_solid:trash" matTooltip="Eliminar"></mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>