<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <app-header
    [title]="title === 'Test' ? 'Pruebas ' + testObj.nombre : title"
    [subtitle]="title === 'Test' ? testObj.material + ' - ' + testObj.norma + ' - ' + testObj.fecha + ' - V ' + testObj.version : ''"
    [breadcrumbs]="[
        { title: 'ABM', route: ['/configuracion/grid'], condition: true },
        { title: 'Configuración', route: ['/configuracion/grid'], condition: true },
        { title: 'Consultar', route: [], condition: title === 'Consultar Configuraciones' },
        { title: 'Crear', route: [], condition: title === 'Crear Configuración' || title === 'Editar Configuración' },
        { title: testObj.nombre, route: [], condition: title === 'Test' }
      ]"
    [buttons]="[
        {
          type: 'flat',
          label: 'Guardar Configuración',
          condition: title === 'Crear Configuración' || title === 'Editar Configuración',
          isDisabled: false,
          action: 'save'
        },
        {
          type: 'stroked',
          label: 'Cerrar',
          condition: title !== 'Consultar Configuraciones',
          isDisabled: action,
          action: 'close'
        },
        {
          type: 'flat',
          label: 'Crear nueva configuración',
          condition: title === 'Consultar Configuraciones',
          isDisabled: false,
          action: 'create'
        }
      ]"
    (buttonAction)="handleAction($event)"
  >
  </app-header>

  <div class="content-scroll">
    <router-outlet (activate)="componentAdded($event)"></router-outlet>
  </div>
</div>

<!-- <ng-template #extraContent>
  <ng-container *ngIf="title === 'Test'">
    <form [formGroup]="formTest" class="mr-4 w-3/5">
      <mat-form-field class="mt-4 w-full" appearance="outline">
        <mat-label>Máquina</mat-label>
        <mat-select
          [formControlName]="'machine'"
          [placeholder]="status ? 'No se han podido cargar las maquinas.' : 'Seleccione una maquina'"
        >
          <mat-option *ngFor="let machine of machines$" [value]="machine">
            {{ machine.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <button
      mat-flat-button
      class="mat-focus-indicator mat-flat-button mat-button-base mat-accent"
      (click)="addMachine()"
      [disabled]="status || action"
    >
      <span class="mat-button-wrapper"> Agregar </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </button>
  </ng-container>
</ng-template> -->