<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <app-header [title]="titulo" [breadcrumbs]="[
        { title: 'ABM', route: ['/moldes/grid'], condition: true },
        { title: 'Moldes', route: ['/moldes/grid'], condition: true },
        { title: 'Consultar', route: [], condition: titulo === 'Consulta Moldes' },
        { title: 'Editar', route: ['/moldes/molde/editar'], condition: titulo === 'Edición Molde' },
        { title: 'Ingresos / Egresos', route: [], condition: moldeTitulo === 'Ingresos / Egresos' },
        { title: 'Crear', route: [], condition: titulo === 'Nuevo Molde' },
        { title: 'Ver', route: ['/moldes/molde/ver'], condition: titulo === 'Vista Molde' },
      ]" [buttons]="[
        {
          type: 'flat',
          label: botonEdicion,
          condition: mostrarBotonEdicion || titulo === 'Editar Molde',
          isDisabled: false,
          action: 'edit'
        },
        {
          type: 'flat',
          label: 'Guardar Molde',
          condition: titulo === 'Nuevo Molde' || titulo === 'Editar Molde',
          isDisabled: false,
          action: 'save'
        },
        {
          type: 'flat',
          label: botonEdicion,
          condition: moldeTitulo === 'Ingresos / Egresos',
          isDisabled: false,
          action: 'ingresoEgreso'
        },
        {
          type: 'stroked',
          label: 'Cerrar',
          condition: titulo !== 'Consulta Moldes',
          isDisabled: false,
          action: 'close'
        },
        {
          type: 'flat',
          label: 'Crear nuevo molde',
          condition: titulo === 'Consulta Moldes',
          isDisabled: false,
          action: 'create'
        }
      ]" (buttonAction)="handleAction($event)">
  </app-header>

  <div class="content-scroll">
    <router-outlet></router-outlet>
  </div>
</div>