<div class="bg-card border-b dark:bg-transparent flex flex-0 flex-col p-4 sm:flex-row sm:items-center sm:justify-between sm:px-10">
  <div class="flex-1 min-w-0">
    <div>
      <div class="hidden sm:flex flex-wrap items-center font-medium">
        <ng-container *ngFor="let breadcrumb of getFilteredBreadcrumbs(); let last = last; let first = first">
          <div [ngClass]="{'ml-1': !first}">
            <!-- Si tiene ruta, usar routerLink -->
            <ng-container *ngIf="hasValidRoute(breadcrumb); else noRoute">
              <a [routerLink]="breadcrumb.route" 
                 [class.text-primary-500]="first"
                 [class.text-secondary]="!first"
                 class="whitespace-nowrap cursor-pointer">
                {{ breadcrumb.title }}
              </a>
            </ng-container>
            <!-- Si no tiene ruta, mostrar como texto -->
            <ng-template #noRoute>
              <span [class.text-primary-500]="first"
                    [class.text-secondary]="!first"
                    class="whitespace-nowrap">
                {{ breadcrumb.title }}
              </span>
            </ng-template>
          </div>
          
          <!-- Separador (chevron) excepto para el último elemento -->
          <ng-container *ngIf="!last">
            <mat-icon class="mat-icon notranslate icon-size-5 text-secondary mat-icon-no-color ml-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
              </svg>
            </mat-icon>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div>
      <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
        {{ title }}
      </h2>
      <h3 *ngIf="subtitle">
        {{ subtitle }}
      </h3>
    </div>
  </div>

  <div class="flex shrink-0 justify-end items-center gap-3 mt-6 sm:mt-0 sm:ml-4 w-1/2">
    <ng-container *ngTemplateOutlet="extraContent"></ng-container>
  
    <ng-container *ngFor="let button of buttons">
      <button *ngIf="button.condition"
        [ngClass]="getButtonClass(button.type)"
        [disabled]="button.isDisabled"
        (click)="handleButtonClick(button.action)">
        <span class="mat-button-wrapper">{{ button.label }}</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        
      </button>
    </ng-container>
  </div>
</div>
