<div class="flex flex-col w-full p-6" id="top">
    <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8 w-1/2">
        <div>
            <h1 class="text-2xl font-semibold mb-2">Perfil</h1>
        </div>
        <form class="flex flex-col gap-2" [formGroup]="permisoForm">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label> Código </mat-label>
                <input id="code" matInput [formControlName]="'code'" placeholder="Código">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label> Descripción </mat-label>
                <input id="description" matInput [formControlName]="'description'" placeholder="Descripción">
                <mat-error class="mb-1" *ngIf="permisoForm.get('description').hasError('maxlength')">
                    El campo Descripción permite hasta 100 caracteres máximo.
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</div>