<div class="flex flex-col w-full" id="top">
    <mat-tab-group class="mt-2 col-span-12 grid-rows-1">
        <mat-tab label="Carga cliente">
            <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8">
                <div>
                    <h1 class="text-2xl font-semibold mb-2">Cliente</h1>
                </div>
                <form [formGroup]="clienteForm">
                    <div class="row flex gap-3 justify-around">
                        <mat-form-field class="w-1/3">
                            <mat-label>Nombre</mat-label>
                            <input
                                id="nombre"
                                matInput
                                [formControlName]="'nombre'"
                                placeholder="Nombre">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('nombre').hasError('required')">
                                    El nombre es requerido
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/3">
                            <mat-label>Razón Social</mat-label>
                            <input
                                id="razonSocial"
                                matInput
                                [formControlName]="'razonSocial'"
                                placeholder="Razón Social">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('razonSocial').hasError('required')">
                                    La razón social es requerida
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/3">
                            <mat-label>Mail</mat-label>
                            <input
                                id="email"
                                matInput
                                [formControlName]="'email'"
                                placeholder="Mail">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('email').hasError('required')">
                                    El mail es requerido
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row flex gap-3 justify-around">
                        <mat-form-field class="w-2/5">
                            <mat-label>Dirección</mat-label>
                            <input
                                id="domicilio"
                                matInput
                                [formControlName]="'domicilio'"
                                placeholder="Dirección">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('domicilio').hasError('required')">
                                    La dirección es requerida
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/5">
                            <mat-label>Localidad</mat-label>
                            <input
                                id="localidad"
                                matInput
                                [formControlName]="'localidad'"
                                placeholder="Localidad">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('localidad').hasError('required')">
                                    La localidad es requerida
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/5">
                            <mat-label>Código Postal</mat-label>
                            <input
                                id="codigoPostal"
                                matInput
                                [formControlName]="'codigoPostal'"
                                placeholder="Código Postal">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('codigoPostal').hasError('required')">
                                    El código postal es requerido
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/5">
                            <mat-label>Provincia</mat-label>
                            <mat-select [formControlName]="'provincia'" placeholder='Provincia'>
                                <mat-option *ngFor="let provincia of provincias" [value]="provincia.codigo">{{provincia.nombre}}</mat-option>
                            </mat-select>
                            <mat-error class="mb-1" *ngIf="clienteForm.get('provincia').hasError('required')">
                                La provincia es requerida
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row flex gap-3 left-around">
                        <mat-form-field class="w-1/3">
                            <mat-label>Teléfono</mat-label>
                            <input
                                id="telefono"
                                matInput
                                [formControlName]="'telefono'"
                                placeholder="Teléfono">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('telefono').hasError('required')">
                                    El teléfono es requerido
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/3">
                            <mat-label>CUIT</mat-label>
                            <input
                                id="cuit"
                                matInput
                                [formControlName]="'cuit'"
                                placeholder="CUIT"
                                mask="00-00000000-0">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('cuit').hasError('required')">
                                    El cuit es requerido
                                </mat-error>
                        </mat-form-field>             
                        <mat-form-field class="w-1/3">
                            <mat-label>Página</mat-label>
                            <input
                                id="webSite"
                                matInput
                                [formControlName]="'webSite'"
                                placeholder="Página">
                                <mat-error class="mb-1" *ngIf="clienteForm.get('webSite').hasError('required')">
                                    El código es requerido
                                </mat-error>
                        </mat-form-field>   
                    </div>
                    <div class="row flex gap-3 justify-around">
                        <mat-form-field class="w-1/2">
                            <mat-label>Observaciones Cobranzas</mat-label>
                            <textarea
                                id="observacionesCobranzas"
                                matInput
                                [formControlName]="'observacionesCobranzas'"
                                placeholder="Observaciones Cobranzas"></textarea>
                                <mat-error class="mb-1" *ngIf="clienteForm.get('observacionesCobranzas').hasError('required')">
                                    El código es requerido
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-1/2">
                            <mat-label>Observaciones Entrega</mat-label>
                            <textarea
                                id="observacionesEntrega"
                                matInput
                                [formControlName]="'observacionesEntrega'"
                                placeholder="Observaciones Entrega"></textarea>
                                <mat-error class="mb-1" *ngIf="clienteForm.get('observacionesEntrega').hasError('required')">
                                    El código es requerido
                                </mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>