<div class="bg-gray-100 w-full">
  <div class="p-6 sm:p-10">

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="h-12">
          <mat-panel-title>
            <span class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
              Búsqueda
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="formFilter" class="mt-2" (keydown.enter)="onEnter($event)">
          <div class="row flex gap-3 justify-around">
            <mat-form-field class="w-1/2 fuse-mat-emphasized-affix">
              <input matInput [matDatepicker]="pickerDesde" formControlName="fechaDesde" placeholder="Desde">
              <button mat-icon-button matSuffix *ngIf="formFilter.controls['fechaDesde'].value"
                (click)="limpiarCampo('fechaDesde')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-datepicker-toggle matIconSuffix [for]="pickerDesde"></mat-datepicker-toggle>
              <mat-datepicker #pickerDesde></mat-datepicker>
              <mat-error *ngIf="formFilter.get('fechaDesde')?.hasError('required')">Fecha Desde
                requerida</mat-error>
              <mat-error *ngIf="formFilter.get('fechaDesde')?.hasError('matDatepickerParse')">Fecha
                inválida</mat-error>
            </mat-form-field>

            <mat-form-field class="w-1/2 fuse-mat-emphasized-affix">
              <input matInput [matDatepicker]="pickerHasta" formControlName="fechaHasta" placeholder="Hasta">
              <button mat-icon-button matSuffix *ngIf="formFilter.controls['fechaHasta'].value"
                (click)="limpiarCampo('fechaHasta')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-datepicker-toggle matIconSuffix [for]="pickerHasta"></mat-datepicker-toggle>
              <mat-datepicker #pickerHasta></mat-datepicker>
              <mat-error *ngIf="formFilter.get('fechaHasta')?.hasError('required')">Fecha Hasta
                requerida</mat-error>
              <mat-error *ngIf="formFilter.get('fechaHasta')?.hasError('matDatepickerParse')">Fecha
                inválida</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
              <mat-select placeholder="Estado" formControlName="estado">
                <mat-option *ngFor="let estado2 of estados" [value]="estado2.value">
                  {{ estado2.value }}
                </mat-option>
              </mat-select>
              <button matSuffix *ngIf="formFilter.controls['estado'].value"
                (click)="formFilter.controls['estado'].setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field class="w-1/2">
              <input type="text" 
                     #campoInput 
                     formControlName="idFormula"
                     [placeholder]="formulaFail ? 'No se han podido cargar las formulas.' : 'Fórmula'" 
                     matInput
                     [matAutocomplete]="formulaAuto">
            
              <button mat-icon-button 
                      matSuffix 
                      *ngIf="formFilter.controls['idFormula'].value !== null"
                      (click)="limpiarCampo('idFormula')">
                <mat-icon>close</mat-icon>
              </button>
            
              <mat-error *ngIf="formFilter.controls['idFormula'].hasError('invalidFormula')">
                Debe seleccionar una fórmula válida
              </mat-error>
            
              <mat-autocomplete #formulaAuto="matAutocomplete" 
                               [displayWith]="displayFn" 
                               autoActiveFirstOption>
                <mat-option *ngFor="let formula of formulas$ | async" 
                            [value]="formula">
                  {{ formula.nombre }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="w-1/2">
              <input type="text" placeholder="Lote (LNNNN)" matInput formControlName="nroLote" maxlength="5">
              <button mat-icon-button matSuffix *ngIf="formFilter.controls['nroLote'].value"
                (click)="limpiarCampo('nroLote')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
                {{
                formFilter.controls['nroLote'].hasError('minlength')
                ? 'Mínimo 5 caracteres.'
                : formFilter.controls['nroLote'].hasError('maxlength')
                ? 'Máximo 5 caracteres.'
                : formFilter.controls['nroLote'].hasError('pattern')
                ? 'Formato inválido.'
                : ''
                }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row flex gap-2 justify-end">
            <button mat-stroked-button class="mat-focus-indicator mat-stroked-button mat-button-base"
              (click)="limpiar()">
              <span class="mat-button-wrapper"> Limpiar </span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </button>
            <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base mat-accent"
              (click)="search()">
              <span class="mat-button-wrapper"> Buscar </span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
      class="border-2 rounded-2xl w-full mt-5 ">
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="estado"> </th>
        <td style="  padding-left: 16px; padding-right: 16px; padding-top: 5px;" mat-cell *matCellDef="let element">
          <mat-icon
            [style.color]="element.estado === 'PENDIENTE_APROBACION' ? '#50c5e9' : element.estado === 'APROBADO' ? 'green' : element.estado === 'APROBADO_OBSERVADO' ? 'yellow' : element.estado === 'RECHAZADO' ? 'red' : ''">
            {{
            element.estado === 'PENDIENTE_APROBACION'
            ? 'schedule'
            : element.estado === 'APROBADO'
            ? 'check_circle'
            : element.estado === 'APROBADO_OBSERVADO'
            ? 'warning'
            : element.estado === 'RECHAZADO'
            ? 'error'
            : ''
            }}
          </mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="nroLote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="nroLote"> Lote </th>
        <td mat-cell *matCellDef="let element"> {{ element.nroLote }} </td>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="fecha"> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{ element.fecha }} </td>
      </ng-container>
      <ng-container matColumnDef="formula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="formula"> Fórmula </th>
        <td mat-cell *matCellDef="let element"> {{ element.formula }} </td>
      </ng-container>
      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="observaciones"> Observaciones </th>
        <td mat-cell *matCellDef="let element"> {{ element.observaciones }} </td>
      </ng-container>
      <ng-container matColumnDef="observacionesEstado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="observacionesEstado"> Observaciones Estado </th>
        <td mat-cell *matCellDef="let element"> {{ element.observacionesEstado }} </td>
      </ng-container>
      <ng-container matColumnDef="fechaEstado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="fechaEstado"> Fecha Estado </th>
        <td mat-cell *matCellDef="let element"> {{ element.fechaEstado }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-right"> </th>
        <td mat-cell *matCellDef="let lot">
          <button (click)="edit(lot.id)">
            <mat-icon matTooltip="Editar">edit</mat-icon>
          </button>
          <button (click)="get(lot)" matTooltip="Ensayos">
            <!-- <mat-icon svgIcon="mat_solid:network_check"></mat-icon> -->
            <mat-icon>speed</mat-icon>
          </button>
          <button>
            <mat-icon svgIcon="heroicons_outline:trash" matTooltip="Eliminar" (click)="delete(lot)"></mat-icon>
          </button>
          <ng-container *ngIf="lot.estado === 'PENDIENTE_APROBACION'">
            <button (click)="set(lot, 'APPROVE')">
              <mat-icon>done</mat-icon>
            </button>
            <button (click)="set(lot, 'REJECT')">
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator (page)="pageChangeEvent($event)" [length]="totalRecords" [pageSize]="pageSize"
      style="display: flex; justify-content: right;" [pageIndex]="pageIndex" [length]="totalRecords"
      [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>