<h1 mat-dialog-title>Actualizar Stock</h1>

<div mat-dialog-content>
    <form [formGroup]="form" class="mat-form-without-wrapper flex flex-col gap-4">

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('fecha').hasError('required')">La fecha es requerida.</mat-error>
        </mat-form-field>

        <div class="flex items-start gap-2">
            <mat-form-field appearance="outline" class="flex-auto">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="cantidad" required min="0.001">
                <mat-error *ngIf="form.get('cantidad').hasError('required')">La cantidad es requerida.</mat-error>
                <mat-error *ngIf="form.get('cantidad').hasError('min')">La cantidad debe ser mayor a 0.</mat-error>
            </mat-form-field>
            <span class="pt-4 font-medium text-lg">{{ data.unidadMedida }}</span>
        </div>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" required>
                <mat-option *ngFor="let tipo of tiposDeMovimiento" [value]="tipo.value">
                    {{ tipo.viewValue }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('tipo').hasError('required')">El tipo es requerido.</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Observaciones (Opcional)</mat-label>
            <textarea matInput formControlName="observaciones" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"></textarea>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions class="flex justify-end gap-2 pt-2">
    <button mat-stroked-button (click)="onCancel()">Cancelar</button>
    <button mat-flat-button class="mat-focus-indicator mat-flat-button mat-button-base mat-accent"
        [disabled]="form.invalid || isLoading" (click)="onSave()">
        <span *ngIf="!isLoading">Guardar</span>
        <mat-progress-spinner *ngIf="isLoading" diameter="24" mode="indeterminate"></mat-progress-spinner>
    </button>
</div>