<div class="flex flex-col flex-auto min-w-0" id="top">
  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <!-- CONTENT GOES HERE -->
    <div>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="h-12">
            <mat-panel-title>
              <span class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Búsqueda
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="form" class="mt-2">
            <div class="row flex gap-3 justify-around">
              <mat-form-field class="w-1/2">
                <input matInput [formControlName]="'name'" placeholder="Nombre">
              </mat-form-field>
              <mat-form-field class="w-1/2">
                <mat-select [formControlName]="'status'" placeholder="Estado">
                  <mat-option value=""> Todas </mat-option>
                  <mat-option value="ACTIVA"> Activa </mat-option>
                  <mat-option value="INACTIVA"> Inactiva </mat-option>
                  <mat-option value="REPARACION"> En Reparación </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row flex justify-end">
              <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base mat-accent"
                (click)="search()">
                <span class="mat-button-wrapper"> Buscar </span>
                <span matripple="" class="mat-ripple mat-button-ripple"></span>
                <span class="mat-button-focus-overlay"></span>
              </button>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <table mat-table [dataSource]="machines$" class="border-2 rounded-2xl mt-5 w-full">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element">
            {{ element.estado === 'REPARACION' ? 'En Reparación' : element.estado | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-right"> Acciones </th>
          <td mat-cell *matCellDef="let row" class="text-right">
            <button>
              <mat-icon svgIcon="heroicons_solid:eye" matTooltip="Ver" [routerLink]="['../view', row.id]"
                (click)="mode(2)">
              </mat-icon>
            </button>

            <button>
              <mat-icon svgIcon="heroicons_solid:pencil-alt" matTooltip="Editar" [routerLink]="['../edit', row.id]"
                (click)="mode(1)">
              </mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>