:host {
    display: block;

    ::ng-deep .mat-dialog-container {
        padding: 0 !important;
        border-radius: 12px !important;
        overflow: hidden !important;
    }
}

::ng-deep .mat-dialog-container {
    padding: 0 !important;
    border-radius: 12px !important;
    overflow: hidden !important;
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 10px;
        border: 2px solid #e2e8f0;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
    }
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.mat-dialog-actions {
    margin-bottom: 0px !important;
}