<div class="flex flex-col w-full" id="top">
  <mat-tab-group class="mt-2 col-span-12 grid-rows-1">
    <mat-tab label="Datos del Molde">
      <form class="mt-8" [formGroup]="moldeForm">
        <div class="flex w-full gap-4">
          <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8 sm:w-1/2">

            <div>
              <div>
                <h1 class="text-2xl font-semibold mb-2">Molde</h1>
              </div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Código </mat-label>
                <input id="code" matInput [formControlName]="'code'" placeholder="Código">
                <mat-error class="mb-1" *ngIf="moldeForm.get('code').hasError('required')">
                  El código es requerido
                </mat-error>
                <mat-error class="mb-1" *ngIf="moldeForm.get('code').hasError('maxlength')">
                  Máximo 30 caracteres
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Estado </mat-label>
                <mat-select formControlName="estado" placeholder="Estado">
                  <mat-option [value]='"ACTIVO"'>Activo</mat-option>
                  <mat-option [value]='"INACTIVO"'>Inactivo</mat-option>
                  <mat-option [value]='"REPARACION"'>En Reparación</mat-option>
                  <mat-option [value]='"EN_FABRICACION"'>En Fabricación</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Descripción </mat-label>
                <input id="name" matInput [formControlName]="'name'" placeholder="Descripción">
                <mat-error class="mb-1" *ngIf="moldeForm.get('name').hasError('required')">
                  La descripción es requerida
                </mat-error>
                <mat-error class="mb-1" *ngIf="moldeForm.get('name').hasError('maxlength')">
                  Máximo 100 caracteres
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Propietario </mat-label>
                <mat-select formControlName="client" placeholder="Propietario">
                  <mat-option [value]="-1"> Nitrophyl </mat-option>
                  <mat-option *ngFor="let client of clients$" [value]="client.id">{{ client.nombre }}</mat-option>
                </mat-select>
                <mat-error class="mb-1" *ngIf="moldeForm.get('client').hasError('required')">
                  El propietario es requerido
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Observaciones </mat-label>
                <textarea matInput id="observations" [formControlName]="'observations'" placeholder="Observaciones"
                  cols="30" rows="3"></textarea>
              </mat-form-field>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Ubicación </mat-label>
                <textarea matInput id="location" [formControlName]="'location'" placeholder="Ubicación" cols="30"
                  rows="3"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="border-2 bg-white border-gray-200 rounded-2xl p-8 sm:w-1/2">
            <div>
              <h1 class="text-2xl font-semibold mb-2">Tipos de Pieza</h1>
            </div>
            <div class="flex flex-wrap gap-3 w-fill" formArrayName="piezaTipos">
              <div *ngFor="let tipo of tiposPieza$; let i = index">
                <mat-checkbox [formControlName]="i">
                  {{ tipo.nombre }}
                </mat-checkbox>
              </div>
              <div *ngIf="!tiposPieza$ || tiposPieza$.length === 0" class="text-gray-500">
                No hay tipos de pieza para seleccionar.
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Bocas" disabled>
    </mat-tab>
    <mat-tab label="Dimensiones" disabled="">
    </mat-tab>
  </mat-tab-group>
</div>