<div class="flex flex-col w-1/2" id="top">
    <mat-tab-group class="mt-2 col-span-12 grid-rows-1">
        <mat-tab label="Perfil">
            <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8">
                <div>
                    <h1 class="text-2xl font-semibold mb-2">Perfil</h1>
                </div>
                <form class="mt-8" [formGroup]="rolForm">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label> Código </mat-label>
                        <input id="code" matInput [formControlName]="'code'" placeholder="Código">
                        <mat-error class="mb-1" *ngIf="rolForm.get('code').hasError('required')">
                          El código es requerido
                        </mat-error>
                        <mat-error class="mb-1" *ngIf="rolForm.get('code').hasError('maxlength')">
                          El campo Código permite hasta 10 caracteres máximo.
                        </mat-error>
                      </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label> Nombre </mat-label>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <input id="name" matInput [formControlName]="'name'" placeholder="Nombre">
                        <mat-error class="mb-1" *ngIf="rolForm.get('name').hasError('required')">
                            El nombre es requerido
                        </mat-error>
                        <mat-error class="mb-1" *ngIf="rolForm.get('name').hasError('maxlength')">
                            El campo Nombre permite hasta 50 caracteres máximo.
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>