<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <app-header 
    [title]="title === 'Test' ? 'Pruebas ' + testObj.nombre : title"
    [subtitle]="title === 'Test' ? testObj.material + ' - ' + testObj.norma + ' - ' + testObj.fecha + ' - V ' + testObj.version : ''"
    [breadcrumbs]="[
        { title: 'ABM',  route: ['/formulas/grid'], condition: true },
        { title: 'Formulas', route: ['/formulas/grid'], condition: true },
        { title: testObj.nombre,  route: [], condition: title === 'Test' },
        { title: 'Crear',  route: [], condition: title === 'Crear Fórmula' }
      ]"
    [buttons]="[
      {
        type: 'flat',
        label: title === 'Crear Fórmula' ? 'Guardar Fórmula' : title === 'Crear Nueva Versión' ? 'Guardar Versión' : '',
        condition: title === 'Crear Fórmula' || title === 'Crear Nueva Versión',
        isDisabled: false,
        action: 'save'
      },
      {
        type: 'stroked',
        label: 'Cerrar',
        condition: title !== 'Consultar Fórmulas',
        isDisabled: action,
        action: 'close'
      },
      {
        type: 'flat',
        label: 'Crear nueva fórmula',
        condition: title === 'Consultar Fórmulas',
        isDisabled: false,
        action: 'create'
      }
    ]"
    (buttonAction)="handleAction($event)">
  </app-header>
  <div class="content-scroll"><router-outlet (activate)="componentAdded($event)"></router-outlet></div>
</div>