<div class="w-full">
  <div class="relative">
    <div *ngIf="isLoading" class="absolute inset-0 bg-white bg-opacity-75 flex items-center justify-center z-10">
      <mat-progress-spinner mode="indeterminate" [diameter]="50"></mat-progress-spinner>
    </div>

    <table mat-table [dataSource]="selectedClients" class="border-2 rounded-2xl w-full">
      <ng-container matColumnDef="nombreCliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element">{{ element.nombreCliente }}</td>
      </ng-container>

      <ng-container matColumnDef="nombrePiezaPersonalizado">
        <th mat-header-cell *matHeaderCellDef> Cód. de Cliente </th>
        <td mat-cell *matCellDef="let element"> {{ element.nombrePiezaPersonalizado || '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="cotizacion">
        <th mat-header-cell *matHeaderCellDef> Cotización </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.cotizacion">{{ element.cotizacion | currency }}</span>
          <span *ngIf="!element.cotizacion">-</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="fechaCotizacion">
        <th mat-header-cell *matHeaderCellDef> Fecha Cot. </th>
        <td mat-cell *matCellDef="let element">{{ (element.fechaCotizacion | date:'dd/MM/yyyy':'UTC') || '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="observacionesCotizacion">
        <th mat-header-cell *matHeaderCellDef> Obs. de cotización </th>
        <td mat-cell *matCellDef="let element">
          <span class="truncate max-w-xs block" [matTooltip]="element.observacionesCotizacion">
            {{ element.observacionesCotizacion || '-' }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="text-right">
          <ng-container *ngIf="mode !== 'view'">
            <div class="flex justify-end cursor-pointer gap-2 pr-2">
              <mat-icon (click)="openModal(row)" class="text-gray-500 hover:text-primary"
                svgIcon="heroicons_solid:pencil" matTooltip="Editar"></mat-icon>
              <mat-icon (click)="eliminarCliente(row)" class="text-gray-500 hover:text-warn"
                svgIcon="heroicons_solid:trash" matTooltip="Eliminar"></mat-icon>
            </div>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsClients"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsClients;"></tr>

      <tr *matNoDataRow>
        <td class="text-center py-4" [attr.colspan]="displayedColumnsClients.length" *ngIf="sinDatos && !isLoading">
          No hay clientes asociados a esta pieza.
        </td>
      </tr>
    </table>
  </div>
</div>