<div class="flex flex-col w-full" id="top">
  <mat-tab-group class="mt-2 col-span-12 grid-rows-1" (selectedTabChange)="tabChange($event)">
    <mat-tab label="Datos del Molde">
      <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8">
        <div>
          <h1 class="text-2xl font-semibold mb-2">Molde</h1>
        </div>
        <form class="mt-8" [formGroup]="moldeForm">
          <mat-form-field class="w-full">
            <mat-icon svgIcon="mat_solid:account_circle" class="mr-3"></mat-icon>
            <input id="codigo" matInput [formControlName]="'codigo'" placeholder="Código">
            <mat-error class="mb-1" *ngIf="moldeForm.get('codigo').hasError('required')">
              El código es requerido
            </mat-error>
            <mat-error class="mb-1" *ngIf="moldeForm.get('codigo').hasError('maxlength')">
              Máximo 30 caracteres
            </mat-error>
          </mat-form-field>
          <div class="w-full mb-3">
            <mat-label class="ml-3">Estado: </mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="estado">
              <mat-radio-button [value]='"ACTIVO"' [checked]="true" class="ml-5">Activo</mat-radio-button>
              <mat-radio-button [value]='"INACTIVO"' class="ml-5">Inactivo</mat-radio-button>
              <mat-radio-button [value]='"REPARACION"' class="ml-5">En Reparación</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field class="w-full">
            <mat-icon svgIcon="mat_solid:account_circle" class="mr-3"></mat-icon>
            <input id="name" matInput [formControlName]="'nombre'" placeholder="Descripción">
            <mat-error class="mb-1" *ngIf="moldeForm.get('nombre').hasError('required')">
              El nombre es requerido
            </mat-error>
            <mat-error class="mb-1" *ngIf="moldeForm.get('nombre').hasError('maxlength')">
              Máximo 100 caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-icon svgIcon="mat_solid:account_circle" class="mr-3"></mat-icon>
            <mat-select formControlName="client" placeholder="Propietario">
              <mat-option [value]="-1"> Nitrophyl </mat-option>
              <mat-option *ngFor="let client of clients$" [value]="client.id">{{ client.nombre }}</mat-option>
            </mat-select>
            <mat-error class="mb-1" *ngIf="moldeForm.get('client').hasError('required')">
              El propietario es requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-icon svgIcon="mat_solid:comment" class="mr-3"></mat-icon>
            <input id="observations" matInput [formControlName]="'observaciones'" placeholder="Observaciones">
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-icon svgIcon="mat_solid:location_on" class="mr-3"></mat-icon>
            <input id="location" matInput [formControlName]="'ubicacion'" placeholder="Ubicación">
          </mat-form-field>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Bocas">
      <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8">
        <div>
          <h1 class="text-2xl font-semibold mb-2">Bocas</h1>
        </div>
        <div class="flex justify-around" [formGroup]="bocaForm" *ngIf="mode == 'Edit'">
          <mat-form-field class="min-w-[25%]">
            <input id="boca" matInput placeholder="Número de Boca" formControlName="boca">
          </mat-form-field>
          <mat-form-field class="min-w-[25%]">
            <mat-select id="estado" placeholder="Estado" formControlName="estado">
              <mat-option [value]='"ACTIVO"'>Activa</mat-option>
              <mat-option [value]='"INACTIVO"'>Inactiva</mat-option>
              <mat-option [value]='"REPARACION"'>En Reparación</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="min-w-[25%]">
            <input id="descripcion" matInput placeholder="Descripción" formControlName="descripcion">
            <mat-error class="mb-1" *ngIf="bocaForm.get('descripcion').hasError('maxlength')">
              Máximo 100 caracteres
            </mat-error>
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="addBoca()">Agregar</button>
        </div>
        <div>
          <table mat-table [dataSource]="bocas" class="border-2 rounded-2xl w-full" [formGroup]="bocaGridForm">
            <ng-container matColumnDef="boca">
              <th mat-header-cell *matHeaderCellDef> Boca </th>
              <td mat-cell *matCellDef="let element"> {{element.nroBoca}} </td>
            </ng-container>
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element">
                <mat-select [(value)]="element.estado" class="border-2 rounded align-middle h-full p-2"
                  [disabled]="mode == 'View'">
                  <mat-option [value]='"ACTIVO"'>Activa</mat-option>
                  <mat-option [value]='"INACTIVO"'>Inactiva</mat-option>
                  <mat-option [value]='"REPARACION"'>En Reparación</mat-option>
                </mat-select>
              </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <!-- <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td> -->
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="h-1 w-full">
                  <input matInput placeholder="Descripcion"
                    [formControlName]="'control-' + element.nroBoca + '-' + element.descripcion" class="w-full">
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row" class="text-right">
                <button *ngIf="mode == 'Edit'">
                  <mat-icon svgIcon="heroicons_outline:trash" matTooltip="Eliminar" (click)="deleteBoca(row)">
                  </mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsBocas"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBocas;"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Dimensiones">
      <div class="grid border-2 bg-white border-gray-200 rounded-2xl p-8">
        <div>
          <h1 class="text-2xl font-semibold mb-2">Dimensiones</h1>
        </div>
        <div class="flex justify-around" [formGroup]="dimensionForm" *ngIf="mode == 'Edit'">
          <mat-form-field class="min-w-[25%]">
            <mat-select id="dimension" placeholder="Dimensión" formControlName="dimension">
              <mat-option *ngFor="let dimension of dimensionesSelect" [value]="dimension">
                {{ dimension }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="min-w-[25%]">
            <input id="valor" matInput placeholder="Valor en mm" formControlName="valor">
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="addDimension()">Agregar</button>
        </div>
        <div>
          <table mat-table [dataSource]="dimensiones" class="border-2 rounded-2xl w-full">
            <ng-container matColumnDef="dimension">
              <th mat-header-cell *matHeaderCellDef> Dimension </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoDimension}} </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef> Valor en mm </th>
              <td mat-cell *matCellDef="let element">
                <input type="number" matInput [(ngModel)]="element.valor" [disabled]="mode == 'View'">
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row" class="text-right">
                <button *ngIf="mode == 'Edit'">
                  <mat-icon svgIcon="heroicons_outline:trash" matTooltip="Eliminar" (click)="deleteDimension(row)">
                  </mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsDimensiones"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDimensiones;"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Planos">
      <table mat-table [dataSource]="planos" class="border-2 rounded-2xl w-full">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreArchivo}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Versión </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha | date:'MMMM d y, h:mm:ss a'}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="text-right">
            <button>
              <mat-icon svgIcon="heroicons_outline:eye" matTooltip="Ver" (click)="openPlano(row)">
              </mat-icon>
            </button>
            <button>
              <mat-icon svgIcon="heroicons_solid:download" matTooltip="Descargar" (click)="downloadPlano(row)">
              </mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPlanos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPlanos;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Fotos">
      <table mat-table [dataSource]="fotos" class="border-2 rounded-2xl w-full">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreArchivo}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Versión </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha | date:'MMMM d y, h:mm:ss a'}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="text-right">
            <button>
              <mat-icon svgIcon="heroicons_outline:eye" matTooltip="Ver" (click)="openFoto(row)">
              </mat-icon>
            </button>
            <button>
              <mat-icon svgIcon="heroicons_solid:download" matTooltip="Descargar" (click)="downloadFoto(row)">
              </mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsFotos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFotos;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Clientes">
      <mat-accordion *ngIf="mode == 'Edit'">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="mt-2 mb-2">
            <mat-panel-title>
              <h1 class="text-2xl font-semibold"> Clientes </h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form class="form-client" [formGroup]="clientForm">
            <mat-form-field class="w-full">
              <mat-select placeholder="Seleccione un cliente" formControlName="client">
                <mat-option *ngFor="let client of clients$" [value]="client">{{ client.razonSocial }}</mat-option>
              </mat-select>
              <mat-error class="mt-4 ml-4" *ngIf="clientForm.get('client').hasError('required')">
                El cliente es requerido
              </mat-error>
            </mat-form-field>
            <button class="mat-focus-indicator mat-flat-button mat-button-base mat-accent form-client__btn"
              mat-flat-button (click)="addClient()">
              <span class="mat-button-wrapper"> Agregar </span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <table mat-table [dataSource]="clients" class="border-2 rounded-2xl w-full mt-4">
        <ng-container matColumnDef="idCliente">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element">{{ element.idCliente }} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="text-right">
            <button *ngIf="mode == 'Edit'">
              <mat-icon svgIcon="heroicons_solid:trash" matTooltip="Eliminar" (click)="deleteClient(row)"></mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsClients"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsClients;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>